 

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
 
<div class="container">
    <h2>Error occured in  @ViewData["controller"] </h2>
    <h2>Action causing Error is  @ViewData["action"]</h2>
    <h2>Error is @ViewData["errorMessage"]</h2>  
</div>

<a asp-action="@ViewData["action"]" asp-controller="@ViewData["controller"]">Go Back</a>